body {
    background-color: yellowgreen;
}

.content {
    text-align: left;
    padding-left: 35%;
}

button {
    background-color: rgb(71, 165, 42);
    text-align: center;

}

.header {
    background-color:  white;
    border-radius: 10px;
    text-align:center;
    margin: 50px;
color: rgb(99, 42, 165);
padding-bottom: 2px;


    


}

.task3 {
    background-color: greenyellow;
    color: white;
    font-size: 24px;
    border-radius: 10px;
    margin: 20px;
    margin-left: 25%;
    padding: 15px;
    text-align: left;
    width: 50%;

}

.text-task3 {
    color: yellowgreen;
}

.container1 {
    background-color: red;
    
        border-radius: 10px;
        text-align:center;
    margin: 30px;
    color: rgb(40, 40, 40);
    padding-bottom: 2px
    
}
.container2 {
    background-color:  orangered;
    border-radius: 10px;
        text-align:center;
    margin: 10px;
    color: rgb(6, 0, 90);
    padding-bottom: 2px
}
.task3-4 {
    background-color: green;
    color: yellow;
    font-size: 24px;
    border-radius: 10px;
    margin: 20px;
    margin-left: 30%;
    padding: 15px;
    text-align: left;
    width: 40%;

}

.text-task3-4 {
    color: white;
}
.container3 {
    background-color:  orange;
    border: 2px solid black;
    border-radius: 10px;
        text-align:center;
    
    color: rgb(11, 90, 4);
    padding-bottom: 2px
}
.footer {
    background-color: brown;
    text-align:center;
color: white;
margin-bottom: 10px
}
