* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    
    font-family: FreeMono, monospace;
    background: linear-gradient(to bottom, rgba(0, 0, 255, 1) 0%, rgba(148, 0, 211, 1) 50%, rgba(0, 0, 255, 1) 100%);
    color:rgb(234, 241, 242);
    text-align: center;

}
/* Блок меню */

.header {
    
    display: flex;
    background-color: rgba(74, 0, 222, 1);
    
    color: white;
    padding: 40px;
    text-align: left;
    position: fixed;
    margin-top: -250px;
    width: 100%;

 
}

.header .title {
    display: flex; 
    align-items: center;   
    margin-right: 50px;     

}
.header img {
    width: 40px;  
    margin-left: 200px;           
    margin-right: 10px;
}

.nav {
    
    display: flex;
    column-gap: 20px;
    margin-left: 200px;
    margin-bottom: 0;
    
}

.nav a {
    color: white;
    text-decoration: none;
    
    background-color: rgba(74, 0, 222, 1);
    border-radius: 10px;
    transition: 1s;
}

.nav a:hover {
    background-color: rgb(255, 140, 0);
    color: black;
    transition: 1s;
    padding: 8px 14px;
}


.main {
    margin-top: 250px;
}
/* Блок контента номер 1 */
.top1 {
    margin: 10px;
    padding: 60px 20px;
    display: block;
    text-align: center; 
}
.top-text1 {
    margin: 10px;
}
.top-text2 {
    margin: 5px;
}

.btn {
    margin: 10px;
    background-color: red;
    color:white;
    border-radius: 20px;
    transition: 1s;
    padding: 8px 14px
    
}
.btn:hover {
    background-color: rgb(255, 140, 0);
    color: black;
    transition: 1s;
    padding: 8px 14px;
}

/* Блок контента номер 2 */
.block2 {
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.conteiner2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}





.card {
    width: 350px;
    background-color: gainsboro;
    color: black;
    border-radius: 20px;
    transition: 0.5s;
    padding: 20px;
    margin: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    box-shadow: 10px 0px 10px 0px rgba(63, 0, 145, 0.2);

}


.card img {
    width: 30px;
    margin: 10px;
}

.title-block2 {
    margin-bottom: 30px;
    padding-top: 50px;
}


.card:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: 0.5s;
}


.card-text2 {
    
    display: flex; 
    flex-direction: row;
    justify-content: center;
}
/* Блок контента номер 3 */
.block3 {

    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.conteiner3 {
    display: flex;
    flex-direction: row;
justify-content: center;
}





.card3 {
    width: 350px;
    background-color: rgb(23, 182, 174);
    border-radius: 20px;
    
    transition: 0.5s;
    padding: 20px;
    margin: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    

}
.title3 {
    display: flex; 
    align-items: center;   
justify-content: center;
}

.card3 img {
    width: 30px;
    margin-right: 5px;
}

.title-block3 {
    margin-bottom: 30px;
    padding-top: 50px;
}


.card3:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: 0.5s;
}

.card-text3-1 {
    color: yellow;
    font-size: 18px;
    font-family: Gill Sans, sans-serif;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.card-text3-2 {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}
/* Блок контента номер 4 */
.block4 {
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
    margin: 30px;
    padding: 50px;
}

.title-block4 {
    margin-bottom: 40px;
}

.card4 {
    width: 850px;
    background-color: gainsboro;
    color: black;
    border-radius: 20px;
    transition: 0.5s;
    padding: 10px;
    margin: 10px;
    text-align: left;
    display: flex;


}


.circle {  
    width: 100px;  
    min-width: 100px;  
    height: 100px;  
    border-radius: 50%;  
    background: blue;  

} 
.circle p {
    color: azure;
    display: flex;
    justify-content: center;
    padding-top: 40%;
}

.card4:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: 0.5s;
}

.card-text4 {
    color: black;
    font-size: 18px;
    font-family: Gill Sans, sans-serif;
    margin: 20px;
    text-align: left;
}

/* Блок футера */


.footer {
    width: 100%;
    text-align:center;
    color: white;
    margin: 25px;
    padding: 30px;
    font-size: 14px;
        
}
.footer-text1 {
    margin: 20px;
}
.footer-text2 {
    margin: 15px;
}